In [165]:
import pandas as pd
import numpy as ny

df = pd.read_excel('ks-projects201612.xlsx')

In [166]:
df2=df

df2.loc[df2['category']=='Playing Cards', 'hasGames'] = 1
df2.loc[df2['category']!='Playing Cards', 'hasGames'] = 0

df2.loc[df2['state']=='successful', 'hasSuccess'] = 1
df2.loc[df2['state']!='successful', 'hasSuccess'] = 0

df2.loc[df2['currency']=='USD', 'currencyType'] = 1
df2.loc[df2['currency']!='USD', 'currencyType'] = 0


df2.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,runDate,goalSuccess,runDateTenure,hasGames,hasSuccess,currencyType
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:00,0,failed,0,GB,0,59.0,0,2.0,0.0,0.0,0.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:00,45000,2013-01-12 00:20:00,220,failed,3,US,220,45.0,0,2.0,0.0,0.0,1.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:00,5000,2012-03-17 03:24:00,1,failed,1,US,1,30.0,0,0.0,0.0,0.0,1.0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:00,1283,canceled,14,US,1283,56.0,0,2.0,0.0,0.0,1.0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:00,50000,2016-02-26 13:38:00,52375,successful,224,US,52375,35.0,2,2.0,0.0,1.0,1.0

In [167]:
df2.corr()

,ID,runDate,goalSuccess,runDateTenure,hasGames,hasSuccess,currencyType
ID,1.000000,-0.001313,-0.000468,0.003148,0.002153,-0.000571,0.001332
runDate,-0.001313,1.000000,-0.023867,0.152186,-0.003262,-0.023723,0.007213
goalSuccess,-0.000468,-0.023867,1.000000,-0.019266,0.002519,0.973796,0.076351
runDateTenure,0.003148,0.152186,-0.019266,1.000000,-0.008841,-0.019905,0.052010
hasGames,0.002153,-0.003262,0.002519,-0.008841,1.000000,0.001899,-0.016252
hasSuccess,-0.000571,-0.023723,0.973796,-0.019905,0.001899,1.000000,0.080494
currencyType,0.001332,0.007213,0.076351,0.052010,-0.016252,0.080494,1.000000